<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <property name="severity" value="error"/>

    <!-- forbid tabs -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="JavadocPackage"/>
    <module name="NewlineAtEndOfFile"/>

    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <module name="AvoidStarImport"/>
        <module name="ConstantName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="LocalVariableName"/>
        <module name="ClassTypeParameterName">
            <property name="format" value="^[A-Z]+$"/>
        </module>
        <module name="MethodTypeParameterName">
            <property name="format" value="^[a-zA-Z]+$"/>
        </module>
        <module name="EmptyBlock"/>

        <module name="ArrayTrailingComma"/>
        <module name="CovariantEquals"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="IllegalToken">
            <property name="tokens" value="LITERAL_NATIVE"/>
        </module>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="NestedTryDepth">
            <property name="max" value="1"/>
        </module>
        <module name="NoClone"/>
        <module name="IllegalThrows"/>
        <module name="PackageDeclaration"/>
        <module name="DeclarationOrder"/>
        <module name="ParameterAssignment"/>
        <module name="DefaultComesLast"/>

        <!-- configure javadoc -->
        <module name="JavadocMethod">
            <property name="accessModifiers" value="public"/>
        </module>
        <module name="MissingJavadocMethod">
            <property name="scope" value="public"/>
            <!-- allow getters without javadoc -->
            <property name="ignoreMethodNamesRegex" value="^get.*$"/>

        </module>
        <module name="JavadocParagraph">
            <property name="allowNewlineParagraph" value="false"/>
        </module>
        <module name="JavadocStyle"/>
        <module name="JavadocType"/>
        <module name="MissingJavadocType"/>
        <module name="NonEmptyAtclauseDescription"/>

        <module name="MethodParamPad"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="EmptyCatchBlock"/>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <module name="IllegalImport"/>

        <module name="FinalClass"/>

        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="PackageAnnotation"/>

        <module name="HideUtilityClassConstructor"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="MutableException"/>
        <module name="OneTopLevelClass"/>
        <module name="ThrowsCount"/>

        <module name="AvoidDoubleBraceInitialization"/>
        <module name="AvoidNoArgumentSuperConstructorCall"/>
        <module name="EmptyStatement"/>
        <module name="ExplicitInitialization"/>
        <module name="FallThrough"/>
        <module name="FinalLocalVariable"/>

        <module name="MultipleVariableDeclarations"/>

        <module name="NoClone"/>
        <module name="NoEnumTrailingComma"/>
        <module name="NoFinalizer"/>

        <module name="OneStatementPerLine"/>

        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>

        <module name="RequireThis"/>

        <module name="SuperClone"/>
        <module name="SuperFinalize"/>

        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>

        <module name="VariableDeclarationUsageDistance"/>

        <module name="AtclauseOrder"/>
        <module name="InvalidJavadocPosition"/>
        <module name="JavadocBlockTagLocation"/>
        <module name="JavadocContentLocationCheck"/>

        <module name="MissingJavadocPackage"/>

        <module name="ArrayTypeStyle"/>

        <module name="FinalParameters"/>

        <module name="OuterTypeFilename"/>
        <module name="UncommentedMain">
            <property name="excludedClasses" value="TestSuite"/>
        </module>
        <module name="UpperEll"/>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier">
            <!-- do not check try with resources -->
            <property name="tokens"
                      value="METHOD_DEF, VARIABLE_DEF,
                      ANNOTATION_FIELD_DEF, INTERFACE_DEF, CTOR_DEF, CLASS_DEF, ENUM_DEF"/>
        </module>

        <module name="LambdaParameterName"/>

        <module name="OuterTypeNumber"/>

        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>

        <module name="SingleSpaceSeparator"/>

    </module>
</module>
